@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Home Page";
}
<h2>Home</h2>




<table class="table table-responsive table-striped" >
    <thead>
        <tr>
            @foreach (DataColumn col in Model.Columns)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <td>@row[col.ColumnName] </td>
                    <td> <a href="@Html.ActionLink("Edit","Header", new { @id = Model.Rows.[col.ColumnName][0]> })">Edit</td>
                }
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create Memo","Create")





