@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <script src="~/Scripts/CRUD/crud.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <form>
        <h2>Sinipag mag-program test#2</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showModal">Open Modal</button>
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" id="FirstName" placeholder="Enter First Name: ">
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" id="LastName" placeholder="Enter Last Name: ">
        </div>
        <div class="form-group">
            <label for="Choice">Choice</label>
          <select class="form-control" id="Choice">
              <option>-Select-</option>
              <option>Student</option>
              <option>Teacher</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" onclick="Insert()">Submit</button>
    </form>

    <div class="panel panel-primary" style="margin:3%">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <input type="text" id="editor1"/>
                    <script>
                        CKEDITOR.replace('editor1');
                    </script>
                </div>

               <input type="number" id="Amount" oninput="convert()"/>
                <input type="text" id="Pesos" disabled="disabled"> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

